/* GLOBAL DECLARATIONS */

body,
html {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bg-white: #ffffff;
  --bg-grey: #e2e8f0;
  --accent-orange: #f1b11d;
  --light-blue: #1992d4;
  --dash-gap: 1.5rem;
  --grid-padding: 1rem;
}
body {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

/* HEADER */
.header * {
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 2rem;
  grid-column: 2/-1;
  grid-row: 1;body {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}
  background-color: var(--bg-white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.377);
  padding: 1.5rem 3rem;
}


.top-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.search-icon svg{
  height: 2rem;
  cursor: pointer;
}
.search-icon button {
  all: unset;
}
form {
  display: flex;
  gap: 1rem;
  align-items: center;
}
input[type="search"] {
  background-color: var(--bg-grey);
  border: none;
  height: 2rem;
  width: 80%;
  border-radius: 1rem;
  font-weight: 400;
  padding: 0 1rem;
  accent-color: var(--accent-orange);
}

.user-credentials {
  text-align: right;
  font-size: 1.05em;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: end;
  
}

.user-credentials svg {
  height: 2rem;
}

.user-credentials > * {
  cursor: pointer;
}
.bottom-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.greeting {
  display: flex;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.profile-pic {
  height: 4rem;
  border-radius: 3rem;
}
.greeting p {
  font-weight: 600;
}

.greeting h1 {
  font-size: 1.5rem;
}

.bottom-header ul {
  display: flex;
  gap: 2rem;
  justify-self: end;
}

.bottom-header ul li {
  list-style-type: none;
}

.bottom-header button {
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  background-color: var(--light-blue);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
/* END OF HEADER */


/* SIDEBAR */
.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-column: 1;
  grid-row: 1/3;
  background-color: var(--light-blue);
  color: white;
  /* padding: 1.5rem; */
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
}

.sidebar-logo {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.sidebar-logo > *{
  margin: 0;
}
.sidebar-logo svg {
  height: 2.5rem;
}

.sidebar-title {
font-size: 2rem;
}
.sidebar ul {
  align-items: center;
  gap: 1rem;
}
.icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-column: 1;
  cursor: pointer;
}
.icon svg {
  height: 1.25rem;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem;
  padding-top: 0;
}

.sidebar-links ul {
  padding: 0;
  
}
.sidebar-links ul li {
  list-style-type: none;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 2;
}


/* END OF SIDEBAR */

.dashboard {
  background-color: var(--bg-grey);
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: stretch;
}

/* PROJECTS SECTION */
.dash-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--dash-gap);
  padding: var(--grid-padding);
  grid-column: 1;
}


h2.projects {
  grid-column: 1/3;
  grid-row: 1;
  margin: 0;
}

.project-card,
.announcement-card,
.trending-card {
  background-color: var(--bg-white);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  min-height: min-content;      /* Watch out here */
}

.project-card {
  display: flex;
  min-height: 200px;
  border-left: 5px solid var(--accent-orange);
  flex-direction: column;
  padding: 1.5rem;
  justify-content: space-between;
}

.project-card p, h3 {
  margin: 0;
  cursor: pointer;
}

.project-card p, .announcement-card p, .trending-account-text :nth-child(2) {
  color: rgb(75,75,75);
}

.card-button-container {
  display: flex;
  height: 1.5rem;
  justify-content: end;
  justify-self: end;
  gap: 1rem;
}

.card-button-container svg {
  cursor: pointer;
}
/* END OF PROJECTS SECTION */


/* SIDE DASHBOARD */
.side-dash {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: var(--grid-padding);
  gap: var(--dash-gap);
}
div.announcements, div.trending {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--dash-gap);
}

h2.announcement-title {
  margin: 0;
}

.announcement-card {
  display: block;
  gap: 2rem;
  padding: 1rem;
}

.announcement-card p {
  font-size: 0.75em;
}


h2.trending-title {
  margin: 0;
}

.trending-card {
display: flex;
flex-direction: column;
gap: 2rem;
}

.trending-card p{
  margin: 0;
}

.trending-account {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.trending-account-text :first-child {
  font-size: 0.9em;
  align-self: center;
}

.trending-account-text :nth-child(2) {
  font-size: 0.9em;
}

/* END OF SIDE DASHBOARD */